/* 手机号/邮箱 (rectangle) */
width: 508px;
height: 60px;
 
background: #ffffff;
 
border: 1px solid #cfcfcf;
border-radius: 5px;
 
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05);
 
/* 输入手机/邮箱 (text) */
width: 310px;
height: 49px;
 
font-family: Microsoft YaHei;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 49px;
text-align: left;
 
color: #606060;
 
/* 登录 (text) */
width: 88px;
height: 40px;
 
font-family: Microsoft YaHei;
font-style: normal;
font-weight: 400;
font-size: 41px;
line-height: 20px;
text-align: left;
 
color: #606060;
 
/* 轻松文档 (text) */
width: 158px;
height: 56px;
 
font-family: Microsoft YaHei;
font-style: normal;
font-weight: 400;
font-size: 39px;
line-height: 56px;
text-align: left;
 
color: #b2d3cd;
 
/* logo (group) */
width: 37px;
height: 39px;
 
/* Rectangle 1 (rectangle) */
width: 4px;
height: 15px;
 
background: #c4c4c4;
 
/* 已有帐号？点此登录 (text) */
width: 182px;
height: 24px;
 
font-family: Microsoft YaHei;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: left;
 
color: #61aaff;
 
/* 注册按钮 (rectangle) */
width: 508px;
height: 60px;
 
background: #387469;
 
border-radius: 5px;
 
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
/* 注册按钮 (text) */
width: 128px;
height: 32px;
 
font-family: Microsoft YaHei;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
text-align: left;
 
color: #ffffff;
 
/* 输入密码 (rectangle) */
width: 508px;
height: 60px;
 
background: #ffffff;
 
border: 1px solid #cfcfcf;
border-radius: 5px;
 
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05);
 
/* 输入密码 (text) */
width: 224px;
height: 40px;
 
font-family: Microsoft YaHei;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
text-align: left;
 
color: #606060;
 
/* 验证码输入栏 (rectangle) */
width: 508px;
height: 60px;
 
background: #ffffff;
 
border: 1px solid #cfcfcf;
border-radius: 5px;
 
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05);
 
/* 发送验证码 (text) */
width: 82px;
height: 23px;
 
font-family: Microsoft YaHei;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
text-align: left;
 
color: #ffffff;
 
/* 输入验证码 (text) */
width: 224px;
height: 40px;
 
font-family: Microsoft YaHei;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
text-align: left;
 
color: #606060;
 
/* 手机号/邮箱 (rectangle) */
width: 508px;
height: 60px;
 
background: #ffffff;
 
border: 1px solid #cfcfcf;
border-radius: 5px;
 
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05);
 
/* 输入手机/邮箱 (text) */
width: 310px;
height: 49px;
 
font-family: Microsoft YaHei;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 49px;
text-align: left;
 
color: #606060;
 
/* 注册 (text) */
width: 89px;
height: 40px;
 
font-family: Microsoft YaHei;
font-style: normal;
font-weight: 400;
font-size: 41px;
line-height: 40px;
text-align: left;
 
color: #606060;
 
/* 轻松文档 (text) */
width: 158px;
height: 56px;
 
font-family: Microsoft YaHei;
font-style: normal;
font-weight: 400;
font-size: 39px;
line-height: 56px;
text-align: left;
 
color: #b2d3cd;
 